############################
# Frontend (React + Vite)
############################

frontend_app/node_modules/
frontend_app/dist/
frontend_app/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variables de entorno
*.local
.env
.env.*
!.env.example

############################
# Backend (Java + Maven)
############################

backend_api/target/

############################
# Eclipse
############################

backend_api/.classpath
backend_api/.project
backend_api/.settings/

############################
# NetBeans
############################

backend_api/nb-configuration.xml
backend_api/nbactions.xml

############################
# IntelliJ IDEA
############################

.idea/
*.iml

############################
# VS Code
############################

.vscode/*
!.vscode/extensions.json

############################
# Sistema Operativo
############################

.DS_Store
Thumbs.db
desktop.ini

############################
# Archivos temporales
############################

*.tmp
*.temp
*.swp
*.swo
*.bak

############################
# Cobertura y pruebas
############################

coverage/

############################
# Archivos compilados
############################

*.class
