global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 5m
    timeout server 5m

frontend postgres
    bind *:5432
    default_backend patroni

backend patroni
    option httpchk GET /primary

    http-check expect status 200

    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 postgres1:5432 check port 8008
    server pg2 postgres2:5432 check port 8008
    server pg3 postgres3:5432 check port 8008
